@import "normalize.css";
@import "./theme";

// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--color-base-50);
    color: var(--color-base-foreground);
    font-family: var(--font-family-default);
}
